*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{ 
    height: 100vh;
    width: 100vw;
    font-family: Lato, sans-serif;
    overflow-x: hidden;
}
.header{
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* column-gap: 12%; */
  background-color: #FFFFFF;
  padding-top: 2px;
  position: fixed;
  z-index: 20;
  box-shadow: 0px 0px 50px 0px #726185;
}

.header-image img{
  width: 80px;
  margin-left: 4.5rem;
}

.nav-items{
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 6rem;
  list-style-type: none;
  font-size: 13.2px;
  font-weight: 700;
  letter-spacing: 2.2px;
  font-family: Lato, sans-serif;
  color: #20292F99;
}

.nav-items li{
  padding: 20px 30px;
  cursor: pointer;
} 

.nav-items li a{
  text-decoration: none;
  color: #20292F99;
}

.menu{
  position: absolute;
  right: 3rem;
  top: 1.2rem;
  opacity: 0;
  visibility: hidden;
}

.last-list-item{

  font-size: 15px;
  font-weight: 800;
  color: aliceblue;
  background: linear-gradient(120deg, rgba(255, 74, 158, 0), #ff3190);
  background-color: #ff4ac2;
  border-radius: 50px;
  letter-spacing: 1px;
  transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.last-list-item:hover{
  transform: translateY(-2px);
  background: linear-gradient(150deg, rgba(255, 74, 158, 0), #ff3190);
  background-color: #ff4ac2;
  box-shadow: 0px 4px 10px #ab7e93;
  transition: all 0.3s;
}

.hover-content-1{
  width: 133vh;
  position: absolute;
  top: 60px;
  left: 28vw;
  background-color: white;
  display: flex;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}

.hover-content-1 .fa-play{
  font-size: 28px;
  position: absolute;
  transform: rotate(270deg);
  left: 195px;
  top: -23px;
  color: white;
}


.nav-1:hover .hover-content-1{
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition: all 0.6s ease; 
}

.nav-1:hover a{
  color: black;
  box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
  background-color: rgb(248, 244, 244);
}

.hover-content-1 .left-side-content{
  width: 18vw;
  height: 100%;
  background-color: rgba(103, 73, 73, 0.03);
  padding-left: 2%;
  padding-top: 1.5%;
  color: #30363a99;
  display: inline-block;
}

.left-side-content .heading-1{
  letter-spacing: 0.5px;
  padding: 14px 0px;
  border-bottom: 2px solid #b1bdc499;
}

.left-side-content .features{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5%;
  font-size: 14px;
  margin-top: 8%;
  i{
      margin-right: 8%;
  }
  p{
      padding: 13px 0;
  }
}

.right-side-content
{
  width: 71.7%;
  padding-top: 1.5%;
  padding-left: 2%;
}

.right-side-content .heading-2{
  padding: 14px 0px;
  border-bottom: 2px solid #b1bdc499;
}

.right-side-content .products-and-services{
  font-size: 17px;
  font-weight: 600;
  padding-top: 2%;
  padding-left: 3%;
  display: flex;
  column-gap: 10%;
  p{
      padding: 15px 0px;
  }
}

.products-and-services span{
  font-size: 13px;
  padding-left: 18px;
  position: relative;
  bottom: 8px;
  left: 18px;
  color: #6d7c90;
}

.products-and-services .first-icons
{
  position: relative;
  right: 20px;
  color: white;
  font-size: 16px;
  padding: 12px;
  border-radius: 50%;
  text-align: center;
}

.right-side-content .button{
  border: none;
  color: white;
  border-radius: 30px;
  text-align: center;
  padding: 15px 220px;
  background-color: rgb(5, 120, 239);
  position: relative;
  top: 10%;
  transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.right-side-content .button:hover{
  background-color: rgb(5, 130, 239);
  box-shadow: 0px 4px 10px #c0c2e4;
  transform: translateY(-4px);
  /* transition: all 0.4s ease-in-out; */
}

.fa-solid, .fa-brands{
  color: rgb(203, 203, 228);
  font-size: medium;
}

.left-side-content .fa-arrow-right{
  margin-left: 2%;
  font-size: 0px;
  opacity: 0;
}

.features p:hover .fa-solid, .features p:hover .fa-brands{
  color: rgb(100, 42, 235);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.features p:hover .fa-arrow-right{
  font-size: 16.5px;
  opacity: 1;
}

.right-side-content p:hover span{
  color: #000;
  transition: all 0.5s ease;
}

.right-side-content p:hover .first-icons{
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.right-side-content .fa-arrow-right, .portions .fa-arrow-right{
  margin-left: 2%;
  font-size: 0px;
}

.products-and-services p:hover .fa-arrow-right, .hover-content-3 .portions:hover .fa-arrow-right{
  font-size: 20px;
  color: black;
  transition: all 0.3s ease;
}

.hover-content-2{
  position: absolute;
  width: 63vw;
  /* height: 54vh; */
  background-color: white;
  top: 60px;
  right: 8vw;
  padding: 0 25px;
  display: flex;
  align-items: center;
  column-gap: 1.8%;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}

.hover-content-2 .fa-play{
  font-size: 28px;
  color: white;
  transform: rotateZ(270deg);
  position: absolute;
  left: 285px;
  top: -23px;
}

.hover-content-2 .portion{
  display: flex;
  flex-direction: column;
  padding: 3% 2%;
  margin: 20px 5px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  transform: scale(1.05);
  transition: all 0.15s cubic-bezier(0, 0, 0.63, 0.99);
  h3{
      margin: 15px 0px;
  }
}

.hover-content-2 .portion:hover{
  transform: scale(1.02);
}

.hover-content-2 .portion-1{
  background: linear-gradient(120deg, rgba(143, 66, 236, .04), rgba(143, 66, 236, .1));
  h3{
      color: #8f42ec;
      font-size: 1.1rem;
  }
  
  p{
      font-size: 16px;
      font-weight: 510;
      letter-spacing: .8px;
      line-height: 25px;
      color: #785da3;
  }
}

.hover-content-2 .portion-2{
  background: linear-gradient(120deg, rgba(55, 118, 255, .04), rgba(55, 118, 255, .1));
  h3{
      color: #3776ff;
      font-size: 17px;
  }
  
  p{
      font-size: 16px;
      font-weight: 510;
      letter-spacing: .8px;
      line-height: 25px;
      color: #384f7f;
  }
}

.hover-content-2 .portion-3{
  background: linear-gradient(120deg, rgba(52, 221, 135, .04), rgba(52, 221, 135, .1));
  h3{
      color:  #34dd87;
      font-size: 17px;
  }
  
  p{
      font-size: 16px;
      font-weight: 510;
      letter-spacing: .8px;
      line-height: 25px;
      color:  #3c7457;
  }
}

.hover-content-2 .portion-4{
  background: linear-gradient(120deg, rgba(255, 123, 43, .04), rgba(255, 123, 43, .1));
  h3{
      color: #ff7b2b;
      font-size: 17px;
  }
  
  p{
      font-size: 16px;
      font-weight: 510;
      letter-spacing: .8px;
      line-height: 25px;
      color: #936a51;
  }
}

.nav-2:hover .hover-content-2{
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition: all 0.4s ease; 
}

.nav-2:hover a{
  color: black;
  box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
  background-color: rgb(248, 244, 244);
}

.hover-content-3{
  width: 30vw;
  height: 64vh;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}

.hover-content-3 .fa-play{
  font-size: 28px;
  position: absolute;
  transform: rotateZ(270deg);
  top: -23px;
  color: white;
}

.nav-3:hover .hover-content-3{
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition: all 0.6s ease; 
}

.nav-3:hover a{
  color: black;
  box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
  background-color: rgb(248, 244, 244);
}

.hover-content-3 .content{
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hover-content-3 .content {
  h3{
      font-size: 17px;
  }
  p{
      font-size: 13.8px;
      letter-spacing: 1px;
      margin-top: 2%;
  }
}

.hover-content-3  .content .portion-1{
  h3{
  color: #8f42ec;
  }
}

.hover-content-3  .content .portion-2{
  h3{
  color:#ff4ac2 ;
  }
}

.hover-content-3  .content .portion-3{
  h3{
  color:#34dd87;
  }
}

.hover-content-3  .content .portion-4{
  h3{
  color:#3776ff;
  }
}

.hover-content-3  .content .portion-5{
  h3{
  color: #ff7b2b;
  }
}

.hover-content-3 button{
  padding: 3% 35%;
  background-color: #8f42ec;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.hover-content-3 button:hover{
  background-color: #9a55ee;
  top: 24.5%;
  box-shadow: 0px 4px 10px #c0c2e4;
  transform: translateY(-4px);
  /* transition: all 0.4s ease-in-out; */
}

.hover-content-3 .portions:hover p{
  color: black;
}

.hover-content-4{
  width: 23vw;
  height: 45vh;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 19.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
}

.hover-content-4 .fa-play{
  font-size: 28px;
  position: absolute;
  transform: rotateZ(270deg);
  top: -23px;
  color: white;
}

.nav-4:hover .hover-content-4{
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.nav-4:hover a{
  color: black;
  box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
  background-color: rgb(248, 244, 244);
}

.hover-content-4 .portions{
  /* border: 2px solid red; */
  width:100%;
  height: 72%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background:  */
  color: #598af3;
  i{
      margin-right: 7%;
      font-size: 18px;
      color: #3776ff;
  }

  h3{
      margin-left: 7%;
  }
}

.hover-content-4 button{
  padding: 4% 25%;
  border: none;
  background-color: #3776ff;
  color: white;
  font-size: 13px;
  font-weight: 600;;
  border-radius: 20px;
  /* margin-top: 5%; */
  transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.hover-content-4 button:hover{
  background-color: #4e83f8;
  top: 24.5%;
  cursor: pointer;
  box-shadow: 0px 4px 10px #c0c2e4;
  transform: translateY(-4px);
  /* transition: all 0.4s ease-in-out; */
}

.hover-content-4 .portions .fa-arrow-right{
  color: black;
  transform: scale(0);
}

.hover-content-4 .portion:hover .fa-arrow-right{
  font-size: 18px;
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.hover-content-4 .portion:hover i{
  transform: scale(1.2);
  transition: all 0.2s ease;
}

.hover-content-5{
  width: 20vw;
  height: 45vh;
  position: absolute;
  top: 60px;
  right: 12.5vw;
  background-color: white;
  /* padding-left: 3%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}

.hover-content-5 .fa-play{
  font-size: 28px;
  position: absolute;
  transform: rotateZ(270deg);
  top: -23px;
  color: white;
}

.nav-5:hover .hover-content-5{
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.nav-5:hover a{
  color: black;
  box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
  background-color: rgb(248, 244, 244);
}

.hover-content-5 form{
  width: 90%;
  height: 70%;
  margin-top: 12%;
  /* border: 2px solid red; */    
  input{
      width: 100%;
      height: 23%;
      margin-bottom: 10%;
      background-color: whitesmoke;
      border: none;
      padding-left: 4%;
      font-size: 15px;
      font-weight: 500;
      color: red;
      border-radius: 8px;
      /* outline: #3776ff; */
  }

  label{
      position: relative;
      bottom: 44px;
      left: 5px;
      font-size: 14px;
      color: rgb(132, 130, 130);
      letter-spacing: 0px;
  }

  input::placeholder{
      color: rgb(131, 129, 129);
  }
}

.outline:focus{
  outline: #598af3;
}

.outline:hover{
  outline: 2.5px solid #598af3;
  transition: all 0.1s;
}

.hover-content-5 button{
  padding: 5% 25%;
  background-color: #4715ef;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  position: relative;
  bottom: 8%;
  transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.hover-content-5 button:hover{
  background-color: #4837ff;
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0px 4px 10px #c0c2e4;
  /* transition: all 0.4s ease-in-out; */
}

.hover-content-5 p{
  text-align: center;
  letter-spacing: 0px;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 600;

  span{
      color: #4715ef;
  }
}


@media (max-width:1096px){
  .nav-items{
      opacity: 0;
      visibility: hidden;
  }

  .menu{
      opacity: 1;
      visibility: visible;
  }
}
.main1{
    height: 100vh;
    width: 100vw;
    display: flex;

}
.Image{
    height: 55%;
    width: 70%;
    display: flex;
    margin-top: 8rem;
    margin-left: 10rem;
    /* border: 1px solid black; */
    box-shadow: 0 -28px 40px 0 rgba(103, 151, 255, .11);

}
.point{
    position: relative;
    right: 2rem;
    bottom: 1.6rem;
    height: 104%;
    width: 29%;
}
.play-button{
    position: absolute; 
    left: 25rem;
    top: 10.2rem;
    width: 5rem;
    cursor: pointer;
}
.play-button:hover{
    transition: .3s ease-in-out;
    transform: scale(1.1);
}
.arrow{
    height: 13%;
    width: 6%;
    position: relative;
    left: 0.1rem;
    bottom: 0.4rem;

}
.About{
    position: relative;
    bottom: 2.2rem;
    right: 7.3rem;
    font-size: larger;
    color: red;
    z-index: -5;
}
.content h4{
    font-size: 1.9rem;
}
.content{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 38rem;
    left: 33rem;
    top: 10rem;
    line-height: 1.9rem;
    /* font-weight: 700; */
    font-size: 1.09rem;
    text-align: left;
}
.content2{
    /* border: 2px solid black; */
    background-color: #f1f2f4;
    height: 3rem;
    width: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: .5rem;
}
.tick img{
    position: relative;
    top: 2.7rem;
    left: 1.3rem;
    height: 1.09rem;
}
.main3{
    height: 65%;
    width: 100%;
    /* display: flex; */
}

.main3 img{
    position: absolute;
    right: 18rem;
    bottom: -5rem;
}
.description{
    height: 70%;
    width: 70%;
    margin-left: 10rem;
    background-color: #f1f2f4;
    padding: 1.9rem;
    line-height: 1.5rem;
    font-size: larger;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.enquiry{
    display: flex;
    /* height: 70%; */
    width: 70%;
    margin-top: 2rem;
    margin-left: 10rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    /* text-decoration: none; */
}
#getdivi{
    width: 16%;
    height: 12%;
    display: flex;
    justify-content: center;
    background-color: #8f42ec;
    padding: .5rem;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#getdivi:hover{
    transition: .1s ease-in-out;
    transform: scale(1.01);
}
#chat{
    height: 12%;
    width: 19%;
    display: flex;
    justify-content: center;
    background-color: #6d7c90;
    padding: .5rem;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#chat:hover{
    transition: .1s ease-in-out;
    transform: scale(1.01);
}
#FAQ{
    height: 12%;
    width: 31%;
    display: flex;
    justify-content: center;
    background-color: #f2f4f5;
    padding: .5rem;
    border-radius: 1rem;
    text-decoration: none;
    color: #6d7c90;
    font-weight: bold;
}
#FAQ:hover{
    transition: .1s ease-in-out;
    transform: scale(1.01);
}

.main4{
    width: 100%;
}
.lead{
    width: 60%;
    margin-left: 13rem;
    text-align: center;
}
.lead h1{
    font-size: 2.5rem;
}
.lead span{
    color: #34dd87;
}
.lead p{
    line-height: 1.5rem;
    font-size: 1.3em;
    color: #6d7c90;
}
.pricing-table{
    width: 70%;
    margin-top: 2rem;
    margin-left: 10rem;
    text-align: center;
    /* border: 1px solid red; */
}
.pricing-table tr{
    border: 2px green;
}
.pricing-table p{
    font-size: small;
}
.pricing-table tr{
    border-bottom: 1px solid black;
}
.main5{
    /* height: 65%; */
    width: 100%;
    /* display: flex; */
}
.review{
    width: 60%;
    margin-top: 4rem;
    margin-left: 13rem;
    text-align: center;
    
}
.review h1{
    /* margin-left: 10rem; */
    font-size: 2.3rem;
}
#reviewcount{
    color: #34dd87;
}
#customerreview{
    color: #3776ff;
}
.review p{
    line-height: 1.5rem;
    font-size: 1.3em;
    color: #6d7c90;
}
.trustreview{
    width: 90%;
    height: 10rem;
    margin-left: 2rem;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    gap: 1.1rem;
}
.trustreview-name{
    /* border: 1px solid black; */
    height: 10rem;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    display: flex;
    /* height: 35%; */
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}
.trustreview-name:hover{
    transition: all .3s cubic-bezier(.4,0,.2,1);
    transform: scale(1.01);
}
.trustreview-name img{
    height: 35%;
    width: 70%;

}
.star-rating {
    display: inline-block;
  }

  .star {
    font-size: 24px; 
    color: #00c56a;
  }
  .reviews{
    width: 90%;
    /* display: flex; */
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10rem;
    row-gap: 2rem;
    margin-top: 2rem;
  }
  .review1{
    /* height: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    /* border: 2px solid black; */
  }
  .review1:hover{
    transition: all .3s cubic-bezier(.4,0,.2,1);
    transform: scale(1.01);
  }
  .customer1{
    display: flex;
    gap: 1rem;
  }
  .reviews img{
    height: 3rem;
    border-radius: 35px;
  }
  .review2{
    /* width: 25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    line-height: 1.5rem;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    /* border: 2px solid black; */
  }
  .review2:hover{
    transition: all .3s cubic-bezier(.4,0,.2,1);
    transform: scale(1.01);
  }
  .customer2{
    display: flex;
    gap: 1rem;
  }
  .reviews img{
    height: 3rem;
    border-radius: 35px;
  }
  .review3{
    /* width: 25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    line-height: 1.5rem;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    /* border: 2px solid black; */
  }
  .review3:hover{
    transition: all .3s cubic-bezier(.4,0,.2,1);
    transform: scale(1.01);
  }
  .customer3{
    display: flex;
    gap: 1rem;
  }
  .reviews img{
    height: 3rem;
    border-radius: 35px;
  }
  .review4{
    /* width: 25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    line-height: 1.5rem;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    /* border: 2px solid black; */
  }
  .review4:hover{
    transition: all .3s cubic-bezier(.4,0,.2,1);
    transform: scale(1.01);
  }
  .customer4{
    display: flex;
    gap: 1rem;
  }
  .reviews img{
    height: 3rem;
    border-radius: 35px;
  }
  .review5{
    /* width: 25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    line-height: 1.5rem;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    /* border: 2px solid black; */
  }
  .review5:hover{
    transition: all .3s cubic-bezier(.4,0,.2,1);
    transform: scale(1.01);
  }
  .customer5{
    display: flex;
    gap: 1rem;
  }
  .reviews img{
    height: 3rem;
    border-radius: 35px;
  }
  .review6{
    /* width: 25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    line-height: 1.5rem;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    /* border: 2px solid black; */
  }
  .review6:hover{
    transition: all .3s cubic-bezier(.4,0,.2,1);
    transform: scale(1.01);
  }
  .customer6{
    display: flex;
    gap: 1rem;
  }
  .reviews img{
    height: 3rem;
    border-radius: 35px;
  }
  .review7{
    /* width: 25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    line-height: 1.5rem;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    /* border: 2px solid black; */
  }
  .review7:hover{
    transition: all .3s cubic-bezier(.4,0,.2,1);
    transform: scale(1.01);
  }
  .customer7{
    display: flex;
    gap: 1rem;
  }
  .reviews img{
    height: 3rem;
    border-radius: 35px;
  }
  .review8{
    /* width: 25%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    line-height: 1.5rem;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1rem;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    /* border: 2px solid black; */
  }
  .review8:hover{
    transition: all .3s cubic-bezier(.4,0,.2,1);
    transform: scale(1.01);
  }
  .customer8{
    display: flex;
    gap: 1rem;
  }
  .reviews img{
    height: 3rem;
    border-radius: 35px;
  }
  .SEE-REVIEW{
    /* border: 2px solid black; */
    background-color: #34dd87;
    color: white;
    width: 25%;
    height: 2.5rem;
    margin-left: 30rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
  }
  .SEE-REVIEW:hover{
    transition: .1s ease-in-out;
    transform: scale(1.01);
  }
  .main6{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    text-align: center;
    margin-top: 4rem;
  }
  .sign-up{
    width: 60%;
    margin-left: 13rem;


  }
.sign-up h1{
    font-size: 2.5rem;
}
.sign-up p{
    line-height: 1.5rem;
    color: #6d7c90;
}
.sign-up h4{
    /* background: linear-gradient(120deg, rgba(55, 118, 255, 0), #1e65ff); */
    background-color: #3776ff;
    width: 20%;
    height: 22%;
    margin-left: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}
.sign-up h4:hover{
    /* transition: .1s ease-in-out; */
    background: linear-gradient(120deg, rgba(255, 74, 158, 0), #3776ff);
    background-color: #3776ff;
    top: 24.5%;
    box-shadow: 0px 4px 10px #c0c2e4;
    transform: translateY(-4px);
    transform: scale(1.01);
}

.videos{
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    margin-left: 5rem;
}
.video1{
    /* margin-top: 5rem;
    margin-left: 2rem; */
    height: 40rem;
    width: 70rem;
    margin: 4rem;
}
.main7{
    width: 100%;
    display: flex;
    justify-content: center;
}
.blue-container{
    width: 40%;
    /* margin-left: 2rem; */
}
.blue-container-1{
    margin-left: 9rem;
    margin-bottom: 2rem;
    
}
.blue-container-1 h4{
    font-size: 1.2rem;
}
.blue-container-1 p{
    margin-top: 1rem;
    color: #6d7c90;
    font-size: large;
    
}
.blue-container-1 a{
    text-decoration: none;
}
.blue-container2{
    width: 70%;
    /* margin-left: 2rem; */
}
.blue-container-2{
    /* margin-right: 1rem; */
    margin-bottom: 1.9rem;
    margin-left: 6rem;
    
}
.blue-container-2 h4{
    font-size: 1.2rem;
}
.blue-container-2 p{
    margin-top: 1rem;
    color: #6d7c90;
    font-size: large;
    
}
.blue-container-2 a{
    text-decoration: none;
}
.main8{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    text-align: center;
    margin-top: 4rem;
  }
  .sign-up2{
    width: 60%;
    margin-left: 13rem;


  }
.sign-up2 h1{
    font-size: 2.5rem;
}
.sign-up2 p{
    line-height: 1.5rem;
    color: #6d7c90;
}
.sign-up2 h4{
    /* background: linear-gradient(120deg, rgba(55, 118, 255, 0), #1e65ff); */
    background-color: #e957b8;
    width: 20%;
    height: 22%;
    margin-left: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}
.sign-up2 h4:hover{
    /* transition: .1s ease-in-out; */
    background: linear-gradient(120deg, rgba(255, 74, 158, 0), #ff3190);
    background-color: #ff4ac2;
    top: 24.5%;
    box-shadow: 0px 4px 10px #c0c2e4;
    transform: translateY(-4px);
    transform: scale(1.01);
}
.main9{
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 5rem;
}
.pink-container{
  width: 50%;
  /* margin-left: 2rem; */
}
.pink-container-1{
  margin-left: 6rem;
  margin-bottom: 2rem;
  
}
.pink-container-1 h4{
  font-size: 1.2rem;
}
.pink-container-1 p{
  margin-top: 1rem;
  color: #6d7c90;
  font-size: large;
  
}
.pink-container-1 a{
  text-decoration: none;
  color: #ff4a9e;
}
.pink-container-1 a:hover{
  color: #3776ff;
}
.pink-container2{
  width: 50%;
  /* margin-left: 2rem; */
  /* margin-left: 4rem; */
}
.pink-container-2{
  /* margin-right: 1rem; */
  margin-bottom: 1.9rem;
  margin-left: 3.2rem;
  
}
.pink-container-2 h4{
  font-size: 1.2rem;
}
.pink-container-2 p{
  margin-top: 1rem;
  color: #6d7c90;
  font-size: large;
  
}
.pink-container-2 a{
  text-decoration: none;
  color: #ff4a9e;
}
.pink-container-2 a:hover{
  color: #3776ff;
}
.divi{
  width: 90%;
  /* height: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr, 1fr; */
  row-gap: 2rem;
  /* justify-content: center; */
  margin-left: 5rem;
}
.divi-detail{
  width: 70%;
  /* border: 1px solid black; */
  gap: 2px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
  cursor: pointer;
}
.divi-detail:hover{
  transition: all .3s cubic-bezier(.4,0,.2,1);
  transform: scale(1.01);
}
.divi-detail h4{
  color: #ff4c00;
}
.divi-detail p{
  line-height: 2rem;
  color: #6d7c90;
}
.divi-detail button{
  width: 80%;
  height: 7%;
  border: none;
  font-weight: bold;
  background-color: #ff4c00;
  border-radius: 25px;
  color: white;
  padding: .5rem;
  cursor: pointer;

}
.divi-detail button:hover{
  transform: translateY(-4px);
  transform: scale(1.01);
}
#divi-ai{
  color: #00b5e6;
  font-size: large;
}
#divi-button{
  width: 80%;
  height: 7%;
  border: none;
  font-weight: bold;
  background-color: #00b5e6;
  border-radius: 25px;
  color: white;
  padding: .5rem;
  cursor: pointer;

}
#divi-button:hover{
  transform: translateY(-4px);
  transform: scale(1.01);
}
#divi-cloud{
  color: #3776ff;
  font-size: large;
}
#divi-button2{
  width: 80%;
  height: 7%;
  border: none;
  font-weight: bold;
  background-color: #3776ff;
  border-radius: 25px;
  color: white;
  padding: .5rem;
  cursor: pointer;

}
#divi-button2:hover{
  transform: translateY(-4px);
  transform: scale(1.01);
}
#divi-vip{
  color: #293038;
  font-size: large;
}
#divi-button3{
  width: 80%;
  height: 7%;
  border: none;
  font-weight: bold;
  background-color: #293038;
  border-radius: 25px;
  color: white;
  padding: .5rem;
  cursor: pointer;

}
#divi-button3:hover{
  transform: translateY(-4px);
  transform: scale(1.01);
}
#divi-team{
  color: #ff7b2b;
  font-size: large;
}
#divi-button4{
  width: 80%;
  height: 7%;
  border: none;
  font-weight: bold;
  background-color: #ff7b2b;
  border-radius: 25px;
  color: white;
  padding: .5rem;
  cursor: pointer;

}
#divi-button4:hover{
  transform: translateY(-4px);
  transform: scale(1.01);
}
#divi-marketplace{
  color: #34dd87;
  font-size: large;
}
#divi-button5{
  width: 80%;
  height: 9%;
  border: none;
  font-weight: bold;
  background-color: #34dd87;;
  border-radius: 25px;
  color: white;
  padding: .5rem;
  cursor: pointer;

}
#divi-button5:hover{
  transform: translateY(-4px);
  transform: scale(1.01);
}
.main10{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}
.about-divi{
  width: 70%;
  height: 50%;
  /* border: 2px solid black; */
  text-align: center;
  line-height: 1.5rem;
  margin-top: 5rem;
  /* text-decoration: none; */
}
.about-divi img{
  height: 30%;
  /* width: %; */
}
.about-divi h1{
  font-size: 3rem;
  color: #8f42ec;
}
.about-divi a{
  text-decoration: none;
  font-weight: bold;
  color: #8f42ec;
}
.about-divi a:hover{
  color: #3776ff;
}
.about-divi p{
  color: #6d7c90;
}
.main11{
  /* width: 100%;
  height: 100%; */
  display: flex;
  justify-content: center;
}
.video-intro{
  /* width: 70%;
  height: 70%; */
  margin-left: 1rem;
  position: relative;
  /* border: 2px solid black; */
}
/* .background-intro{
  border: 2px solid black;
  background: linear-gradient(120deg, rgba(103, 151, 255, .5), #8f42ec);
  height: 100%;
  position: relative;
  z-index: 1;
} */
 .video-btn{
  height: 20%;
  width: 20%;
  /* border: 2px solid black; */
  position: absolute;
  left: 40%;
  bottom: 40%;
  /* bottom: 2px; */
  /* top: 150px; */
  /* overflow-x: hidden; */
 }
.video-btn button{
  height: 100%;
  width: 60%;
  font-size: 3em;
  border-radius: 300px;
  /* text-decoration: none; */
  border: none;
}
.video-btn button:hover{
  transition: .3s ease-in-out;
  transform: scale(1.1);
}
.video-intro img{
  border-radius: 15px;
 
}
.main12{
  width: 100%;
}
.pricing{
  width: 50%;
  text-align: center;
  margin-top: 5rem;
  margin-left: 23rem;
  line-height: 1.4rem;
}
.pricing p{
  color: #6d7c90;
}
.pricing a{
  text-decoration: none;
  color: #ff3190;
}
.pricing a:hover{
  color: #3776ff;
}
.slide{
  width: 55%;
  margin-top: 2rem;
  margin-left: 21rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
} 
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffad00;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ffad00;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
footer{
  margin-top: 4%;
  width: 100%;
  height: 100%;
  font-family: Lato, sans-serif;
  position: relative;
  /* border: 5px solid purple; */
  overflow-x: hidden;
}

.foot-1{
  width: 72.5%;
  height: 60vh;
  /* margin: auto; */
  background: radial-gradient(circle at top left, #4a42ec 0, #521d91 100%);
  background-color: #521d91;
  box-shadow: 0 48px 48px -32px rgba(23, 16, 159, .2), 0 96px 96px -64px rgba(3, 2, 20, .6);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  color: white;
  position: absolute;
  left: 30vh;
  top: 25vh;
  border-radius:10px;
}

.footer-1 .circle-1{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(250, 197, 7);
  position: relative;
  bottom: 78vh;
  left: 65vw;
  z-index: -5;
}

.footer-1 .circle-2{
  width: 450px;
  height: 450px;
  background-color: #34DD65;
  border-radius: 50%;
  position: relative;
  z-index: -5;
  bottom: 62vh;
  left: 63.5vw;
  opacity: 0.7;
}

.footer-1 .background-1{
  width: 40%; 
  position: relative;
  top: 15px;
  right: -5vw;
  transform: rotateZ(8deg);
  z-index: -5;
  opacity: 0.3;
}   

.inner-box{
  /* border: 2px solid red; */
  text-align: center;
  margin: auto;
  margin-top: 7.5%;
  font-size: 24px;
  width: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-box button{
  margin-top: 2%;
  padding: 18px 35px;
  border: none;
  background: linear-gradient(120deg, rgba(52, 221, 135, 1), #24d47a) !important;
  background-color: #34DD65;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.box p{
  font-size: 18px;
  text-align: center;
  margin-top: 3.5%;
  span{
      font-weight: 600;
  }
}

.footer-1{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* border: 5px solid purple; */
  transition: all 0.7s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.purple-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  /* border: 2px solid red; */
  background-color: #5b19e9;
  opacity: 0;
}

.footer-1:hover{
  transform: scale(1.3);
  /* transition: all 0.8s ease; */
}

.footer-1:hover .purple-overlay{
  opacity: 0.7;
  transition: opacity 0.8s ease;
}

.footer-1 button:hover{
  background-color: #4837ff;
  cursor: pointer;
  transform: translateY(-4px);
  box-shadow: 0px 4px 10px #c0c2e4;
  /* transition: all 0.4s ease-in-out; */
}

.footer-2{
  width: 100%;
  height: 100vh;
  margin-top: 8rem;
  /* border: 2px solid #24d47a; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-2 .cards{
  width: 80vw;
  /* background-color: #34DD65; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
}

footer .cards .card{
  /* background-color: #4837ff; */
  width: 160px;
  height: 120px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10%;
  box-shadow: 0 2px 8px 0 rgba(103, 151, 255, .16), 0 4px 32px 0 rgba(103, 151, 255, .16);
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.cards .card:hover{
  box-shadow: 0 2px 8px 0 rgba(103, 151, 255, .2), 0 4px 32px 0 rgba(103, 151, 255, .2);
  cursor: pointer;
  transform: scale(1.01);
  /* transition: all 0.8s ease; */
}

footer .content{
  margin-top: 3%;
  width: 85vw;
  height: 25rem;
  /* background-color: #34DD65; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 62px;
  /* overflow: hidden; */
}

.content .rows{
  /* border: 2px solid rebeccapurple; */
  width: 140px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  /* align-items: start; */
  row-gap: 4%;
  transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
  p{
      color: #6d7d90;
      font-size: 14px;
  }
  h5{
      color: #46484a;
      letter-spacing: 2px;
  }
}

.content .rows p:hover{
  color: #554ad1;
  cursor: pointer;
}   

.footer-images{
  /* border: 2px solid red; */
  width: 32rem;
  height: 22rem;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.copyright{
  margin-top: 30px;
  height: 50px;
  color: #6d7d90;
  font-size: 17px;
}

@media (max-width: 1348px)
{
  .footer-images, .copyright{
      display: none;
  }
}
