@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Lato, sans-serif;
    width: 100vw;
    /* background-color:#ff4ac2; */
    width:100%;
    height: 100%;
    overflow-x: hidden;
}
.header{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* column-gap: 12%; */
    background-color: #FFFFFF;
    padding-top: 2px;
    position: fixed;
    z-index: 20;
    box-shadow: 0px 0px 50px 0px #726185;
}

.header-image img{
    width: 80px;
    margin-left: 4.5rem;
}

.nav-items{
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 6rem;
    list-style-type: none;
    font-size: 13.2px;
    font-weight: 700;
    letter-spacing: 2.2px;
    font-family: Lato, sans-serif;
    color: #20292F99;
}

.nav-items li{
    padding: 20px 30px;
    cursor: pointer;
} 

.nav-items li a{
    text-decoration: none;
    color: #20292F99;
}

.menu{
    position: absolute;
    right: 3rem;
    top: 1.2rem;
    opacity: 0;
    visibility: hidden;
}

.last-list-item{

    font-size: 15px;
    font-weight: 800;
    color: aliceblue;
    background: linear-gradient(120deg, rgba(255, 74, 158, 0), #ff3190);
    background-color: #ff4ac2;
    border-radius: 50px;
    letter-spacing: 1px;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.last-list-item:hover{
    transform: translateY(-2px);
    background: linear-gradient(150deg, rgba(255, 74, 158, 0), #ff3190);
    background-color: #ff4ac2;
    box-shadow: 0px 4px 10px #ab7e93;
    transition: all 0.3s;
}

.hover-content-1{
    width: 133vh;
    position: absolute;
    top: 60px;
    left: 28vw;
    background-color: white;
    display: flex;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.hover-content-1 .fa-play{
    font-size: 28px;
    position: absolute;
    transform: rotate(270deg);
    left: 195px;
    top: -23px;
    color: white;
}


.nav-1:hover .hover-content-1{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.6s ease; 
}

.nav-1:hover a{
    color: black;
    box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
    background-color: rgb(248, 244, 244);
}

.hover-content-1 .left-side-content{
    width: 18vw;
    height: 100%;
    background-color: rgba(103, 73, 73, 0.03);
    padding-left: 2%;
    padding-top: 1.5%;
    color: #30363a99;
    display: inline-block;
}

.left-side-content .heading-1{
    letter-spacing: 0.5px;
    padding: 14px 0px;
    border-bottom: 2px solid #b1bdc499;
}

.left-side-content .features{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5%;
    font-size: 14px;
    margin-top: 8%;
    i{
        margin-right: 8%;
    }
    p{
        padding: 13px 0;
    }
}

.right-side-content
{
    width: 71.7%;
    padding-top: 1.5%;
    padding-left: 2%;
}

.right-side-content .heading-2{
    padding: 14px 0px;
    border-bottom: 2px solid #b1bdc499;
}

.right-side-content .products-and-services{
    font-size: 17px;
    font-weight: 600;
    padding-top: 2%;
    padding-left: 3%;
    display: flex;
    column-gap: 10%;
    p{
        padding: 15px 0px;
    }
}

.products-and-services span{
    font-size: 13px;
    padding-left: 18px;
    position: relative;
    bottom: 8px;
    left: 18px;
    color: #6d7c90;
}

.products-and-services .first-icons
{
    position: relative;
    right: 20px;
    color: white;
    font-size: 16px;
    padding: 12px;
    border-radius: 50%;
    text-align: center;
}

.right-side-content .button{
    border: none;
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 15px 220px;
    background-color: rgb(5, 120, 239);
    position: relative;
    top: 10%;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.right-side-content .button:hover{
    background-color: rgb(5, 130, 239);
    box-shadow: 0px 4px 10px #c0c2e4;
    transform: translateY(-4px);
    /* transition: all 0.4s ease-in-out; */
}

.fa-solid, .fa-brands{
    color: rgb(203, 203, 228);
    font-size: medium;
}

.left-side-content .fa-arrow-right{
    margin-left: 2%;
    font-size: 0px;
    opacity: 0;
}

.features p:hover .fa-solid, .features p:hover .fa-brands{
    color: rgb(100, 42, 235);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.features p:hover .fa-arrow-right{
    font-size: 16.5px;
    opacity: 1;
}

.right-side-content p:hover span{
    color: #000;
    transition: all 0.5s ease;
}

.right-side-content p:hover .first-icons{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.right-side-content .fa-arrow-right, .portions .fa-arrow-right{
    margin-left: 2%;
    font-size: 0px;
}

.products-and-services p:hover .fa-arrow-right, .hover-content-3 .portions:hover .fa-arrow-right{
    font-size: 20px;
    color: black;
    transition: all 0.3s ease;
}

.hover-content-2{
    position: absolute;
    width: 63vw;
    /* height: 54vh; */
    background-color: white;
    top: 60px;
    right: 8vw;
    padding: 0 25px;
    display: flex;
    align-items: center;
    column-gap: 1.8%;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.hover-content-2 .fa-play{
    font-size: 28px;
    color: white;
    transform: rotateZ(270deg);
    position: absolute;
    left: 285px;
    top: -23px;
}

.hover-content-2 .portion{
    display: flex;
    flex-direction: column;
    padding: 3% 2%;
    margin: 20px 5px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    transform: scale(1.05);
    transition: all 0.15s cubic-bezier(0, 0, 0.63, 0.99);
    h3{
        margin: 15px 0px;
    }
}

.hover-content-2 .portion:hover{
    transform: scale(1.02);
}

.hover-content-2 .portion-1{
    background: linear-gradient(120deg, rgba(143, 66, 236, .04), rgba(143, 66, 236, .1));
    h3{
        color: #8f42ec;
        font-size: 1.1rem;
    }
    
    p{
        font-size: 16px;
        font-weight: 510;
        letter-spacing: .8px;
        line-height: 25px;
        color: #785da3;
    }
}

.hover-content-2 .portion-2{
    background: linear-gradient(120deg, rgba(55, 118, 255, .04), rgba(55, 118, 255, .1));
    h3{
        color: #3776ff;
        font-size: 17px;
    }
    
    p{
        font-size: 16px;
        font-weight: 510;
        letter-spacing: .8px;
        line-height: 25px;
        color: #384f7f;
    }
}

.hover-content-2 .portion-3{
    background: linear-gradient(120deg, rgba(52, 221, 135, .04), rgba(52, 221, 135, .1));
    h3{
        color:  #34dd87;
        font-size: 17px;
    }
    
    p{
        font-size: 16px;
        font-weight: 510;
        letter-spacing: .8px;
        line-height: 25px;
        color:  #3c7457;
    }
}

.hover-content-2 .portion-4{
    background: linear-gradient(120deg, rgba(255, 123, 43, .04), rgba(255, 123, 43, .1));
    h3{
        color: #ff7b2b;
        font-size: 17px;
    }
    
    p{
        font-size: 16px;
        font-weight: 510;
        letter-spacing: .8px;
        line-height: 25px;
        color: #936a51;
    }
}

.nav-2:hover .hover-content-2{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.4s ease; 
}

.nav-2:hover a{
    color: black;
    box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
    background-color: rgb(248, 244, 244);
}

.hover-content-3{
    width: 30vw;
    height: 64vh;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.hover-content-3 .fa-play{
    font-size: 28px;
    position: absolute;
    transform: rotateZ(270deg);
    top: -23px;
    color: white;
}

.nav-3:hover .hover-content-3{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.6s ease; 
}

.nav-3:hover a{
    color: black;
    box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
    background-color: rgb(248, 244, 244);
}

.hover-content-3 .content{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hover-content-3 .content {
    h3{
        font-size: 17px;
    }
    p{
        font-size: 13.8px;
        letter-spacing: 1px;
        margin-top: 2%;
    }
}

.hover-content-3  .content .portion-1{
    h3{
    color: #8f42ec;
    }
}

.hover-content-3  .content .portion-2{
    h3{
    color:#ff4ac2 ;
    }
}

.hover-content-3  .content .portion-3{
    h3{
    color:#34dd87;
    }
}

.hover-content-3  .content .portion-4{
    h3{
    color:#3776ff;
    }
}

.hover-content-3  .content .portion-5{
    h3{
    color: #ff7b2b;
    }
}

.hover-content-3 button{
    padding: 3% 35%;
    background-color: #8f42ec;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.hover-content-3 button:hover{
    background-color: #9a55ee;
    top: 24.5%;
    box-shadow: 0px 4px 10px #c0c2e4;
    transform: translateY(-4px);
    /* transition: all 0.4s ease-in-out; */
}

.hover-content-3 .portions:hover p{
    color: black;
}

.hover-content-4{
    width: 23vw;
    height: 45vh;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 19.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.hover-content-4 .fa-play{
    font-size: 28px;
    position: absolute;
    transform: rotateZ(270deg);
    top: -23px;
    color: white;
}

.nav-4:hover .hover-content-4{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.nav-4:hover a{
    color: black;
    box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
    background-color: rgb(248, 244, 244);
}

.hover-content-4 .portions{
    /* border: 2px solid red; */
    width:100%;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background:  */
    color: #598af3;
    i{
        margin-right: 7%;
        font-size: 18px;
        color: #3776ff;
    }

    h3{
        margin-left: 7%;
    }
}

.hover-content-4 button{
    padding: 4% 25%;
    border: none;
    background-color: #3776ff;
    color: white;
    font-size: 13px;
    font-weight: 600;;
    border-radius: 20px;
    /* margin-top: 5%; */
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.hover-content-4 button:hover{
    background-color: #4e83f8;
    top: 24.5%;
    cursor: pointer;
    box-shadow: 0px 4px 10px #c0c2e4;
    transform: translateY(-4px);
    /* transition: all 0.4s ease-in-out; */
}

.hover-content-4 .portions .fa-arrow-right{
    color: black;
    transform: scale(0);
}

.hover-content-4 .portion:hover .fa-arrow-right{
    font-size: 18px;
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.hover-content-4 .portion:hover i{
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.hover-content-5{
    width: 20vw;
    height: 45vh;
    position: absolute;
    top: 60px;
    right: 12.5vw;
    background-color: white;
    /* padding-left: 3%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.hover-content-5 .fa-play{
    font-size: 28px;
    position: absolute;
    transform: rotateZ(270deg);
    top: -23px;
    color: white;
}

.nav-5:hover .hover-content-5{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.nav-5:hover a{
    color: black;
    box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
    background-color: rgb(248, 244, 244);
}

.hover-content-5 form{
    width: 90%;
    height: 70%;
    margin-top: 12%;
    /* border: 2px solid red; */    
    input{
        width: 100%;
        height: 23%;
        margin-bottom: 10%;
        background-color: whitesmoke;
        border: none;
        padding-left: 4%;
        font-size: 15px;
        font-weight: 500;
        color: red;
        border-radius: 8px;
        /* outline: #3776ff; */
    }

    label{
        position: relative;
        bottom: 44px;
        left: 5px;
        font-size: 14px;
        color: rgb(132, 130, 130);
        letter-spacing: 0px;
    }

    input::placeholder{
        color: rgb(131, 129, 129);
    }
}

.outline:focus{
    outline: #598af3;
}

.outline:hover{
    outline: 2.5px solid #598af3;
    transition: all 0.1s;
}

.hover-content-5 button{
    padding: 5% 25%;
    background-color: #4715ef;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    position: relative;
    bottom: 8%;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.hover-content-5 button:hover{
    background-color: #4837ff;
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    /* transition: all 0.4s ease-in-out; */
}

.hover-content-5 p{
    text-align: center;
    letter-spacing: 0px;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 600;

    span{
        color: #4715ef;
    }
}


@media (max-width:1096px){
    .nav-items{
        opacity: 0;
        visibility: hidden;
    }

    .menu{
        opacity: 1;
        visibility: visible;
    }
}

.introduction{
    /* border: 2px solid gray; */
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 74, 158, .2), rgba(255, 74, 158, 0) 50%), url(https://www.elegantthemes.com/images/home/landing-hero-background.jpg), linear-gradient(60deg, #5c00c3 86%, #ff4a9e 85%);
    padding-bottom: 8vw;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8vw;
    padding-top:11vw;
    transform-origin: 50% 85%;
    display: flex;
    justify-content: center;
    /* row-gap: 10px; */
    color: white;
    position: relative;
    overflow: hidden;
}

.introduction .content{
    /* border: 2px solid red; */
    width: 100%; 
    max-width: 45%; 
    text-align: start;
    z-index: 3;
    /* h1{
        font-size: 80px;
        font-weight: 800;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 19px;
        margin: 20px 0px;
    } */
}

.introduction .content h1 {
    font-size: 5.5vw;
    font-weight: 800;
    margin-bottom: 20px;
}

.introduction .content h2 {
    font-size: 2vw;
    margin-bottom: 15px;
}

.introduction .content p {
    font-size: 1.2vw;
    margin: 15px 0;
}

.introduction .content p span {
    font-size: 1vw;
    font-weight: 600;
}


.introduction p .fa-star{
    color: rgb(53, 225, 53);
}

.introduction .content p svg{
    position: absolute; 
    height: 100%; 
    width: 80%; 
    top: 1vh;
    left: 37vw;
}

.introduction .content button{
    width: 50%;
    padding: 18px;
    margin-top: 3%;
    border: none;
    color: white;
    background: linear-gradient(120deg, rgba(255, 74, 158, 0), #ff3190);
    background-color: #ff4ac2;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 25px;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.introduction .content button:hover{
    background-color: #ea6bc0;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #595a6e;
    /* transition: all 0.4s ease-in-out; */
    cursor: pointer;
}

.introduction .video
{
    width: 100%;
    max-width: 38%;
    position: relative;
}


.introduction .video .video-card{
    box-shadow: -96px 96px 96px -64px rgba(23, 16, 159, .5), -200px 160px 160px -100px rgba(23, 16, 159, .1);
    margin-left: 9%;
    margin-top: -1%;
    max-width: none;
    transform: rotateY(0deg) rotateX(-16deg) rotateX(24deg) skewY(-16deg) skewX(32deg);
    border-radius: 15px;
    width:120%;
    max-width: none;
}

.introduction .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    right: 0;
    z-index: 2;
    background: linear-gradient(-8deg, transparent 35%, #130e87 80%);
}

@media (max-width: 1200px) {
    .introduction {
        flex-direction: column; /* Stack content vertically */
        align-items: center; /* Center content vertically */
        padding: 12vw; /* Adjust padding for smaller screens */
        padding-top: 20vw; /* Adjust top padding */
    }

    .introduction .content,
    .introduction .video {
        max-width: 100%; /* Full width on smaller screens */
        width: 100%;
    }

    .introduction .content button {
        width: 80%; /* Adjust button width */
        font-size: 2.5vw; /* Adjust font size */
    }

    .introduction .video .video-card {
        margin-top: 0; /* Reset margin top */
    }
}

@media (max-width: 768px) {
    .introduction .content h1 {
        font-size: 8vw; /* Further adjust font size */
    }

    .introduction .content h2 {
        font-size: 4vw; /* Further adjust font size */
    }

    .introduction .content p {
        font-size: 3vw; /* Further adjust font size */
    }

    .introduction .content p span {
        font-size: 1.8vw; /* Further adjust font size */
    }

    .introduction .content button {
        width: 100%; /* Full width button on smaller screens */
        font-size: 3vw; /* Further adjust font size */
    }
}

.intro{
    /* border: 2px solid red; */
    width: 98vw;
    height: auto;
    margin-top: 10%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* row-gap: 10px; */
    /* h1{
        font-size: 5rem;
        font-weight: 800;
        color: blue;
    } */
}

.intro h1 {
    font-size: 5rem;
    font-weight: 800;
    color: blue;
    text-align: center;
    margin-bottom: 1rem;
}

.reviews{
    display: flex;
    align-items: center;
        margin: 0.5rem;
        font-size: 14px;
}

.intro .content{
    /* border: 2px solid red; */
    width: 53%;
    max-width: 800px;
    text-align: center;
    margin: 3% 0 2% 0;
    /* h2{
        font-size: 30px;
    }
    p{
        margin: 2% 0;
        line-height: 2rem;
        font-size: 17.5px;
        color: #6d7c90;
    } */
}

.intro .content h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.intro .content p {
    font-size: 17.5px;
    line-height: 1.6;
    color: #6d7c90;
    margin-bottom: 1rem;
}

.content span{
    color: #4a42ec;
}

.reviews .fa-star {
    color: rgb(97, 226, 77);
    font-size: 18px;
}

.reviews .fa-star {
    color: rgb(97, 226, 77);
    font-size: 18px;
}

.intro button{
    padding: 15px 25px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: #4a42ec;
    border: none;
    border-radius: 25px;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
    margin-top: 1rem;
}

.intro button:hover{
    background-color: rgb(75, 101, 231);
    top: 24.5%;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    /* transition: all 0.4s ease-in-out; */
    cursor: pointer;
}

@media (max-width: 1024px) {
    .intro .content {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .intro {
        margin-top: 15%;
    }

    .intro h1 {
        font-size: 4rem;
    }

    .reviews {
        font-size: 12px;
    }

    .intro .content {
        width: 95%;
    }

    .intro .content h2 {
        font-size: 1.8rem;
    }

    .intro .content p {
        font-size: 13px;
    }

    .intro button {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .intro h1 {
        font-size: 3rem;
    }

    .reviews {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .reviews p {
        margin: 0 5px;
    }

    .intro .content h2 {
        font-size: 1.5rem;
    }

    .intro .content p {
        font-size: 12px;
    }

    .intro button {
        padding: 10px 20px;
        font-size: 12px;
    }
}

main{
    width: 100%;
    height: 100%;
    margin-top: 8%;
}

.section-1{
    width:100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* img{
        border-radius: 10px;
    } */
}

.section-1 .image {
    width: 100%;
    max-width: 1000px; /* Adjust as needed */
    overflow: hidden;
    position: relative;
}

.section-1 .image img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.section-1 .image-overlay{
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(103, 151, 255, 1), #7001f8);
    color: #8f42ec;
    opacity: 0.4;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.image-overlay .fa-play{
    position: absolute;
    z-index: 2;
    color: black;
    top: 55%;
    left: 50%;
    font-size: 80px;
}

.section-1 .video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    text-align: center;

}

.video-circle{
  width: 100px;
  margin: 0;
  padding: 0;
}

.section-1 .video-btn button {
    border: none;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.7); */
    font-size: 3em;
    width: 164px;
    height: 164px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.section-1 .video-btn button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .section-1 .image-overlay .fa-play {
        font-size: 10vw; /* Adjust size for smaller screens */
    }
    
    .video-btn button {
        font-size: 10vw; /* Adjust size for smaller screens */
        width: 20vw; /* Adjust width for smaller screens */
        height: 20vw; /* Adjust height for smaller screens */
    }
}

@media (max-width: 768px) {
    .section-1 .image-overlay .fa-play {
        font-size: 12vw; /* Further adjust size for smaller screens */
    }
    
    .video-btn button {
        font-size: 12vw; /* Further adjust size for smaller screens */
        width: 25vw; /* Further adjust width for smaller screens */
        height: 25vw; /* Further adjust height for smaller screens */
    }
}

/* Build Visually   Additonal content  */



.additional-content {
    margin-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: lato; */
    /* overflow-x: hidden; */
}

.additional-content .content{
    width:56%;
    display: flex;
    flex-direction: column;
    h1{
        font-size: 80px;
        color: #3177ef;
        font-weight: 800;
        margin-bottom: 20px;
    }

    h2{
        font-size: 30px;
    }

    p{
        margin: 13px 0px 30px 0;
        color: #6d7d90;
        line-height: 30px;
        font-size: 18px;
    }
}

.row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.additional-content .box {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 7px;
    margin: 10px;
    text-transform: uppercase;
    width: 100%;
    box-shadow: 0 10px 70px 0 rgba(103, 151, 255, .22), 0 15px 105px 0 rgba(103, 151, 255, .22);
    transition: transform 0.3s;
    display: flex;
    padding-left: 15px;
    /* justify-content: center; */
    align-items: center;
}
.box p{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.4em;
    padding: 16px;
    text-transform: uppercase;
}

.box{
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.left-col .box:hover , .right-col .box:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.left-col .box:hover .fa-circle-play, .right-col .box:hover .fa-circle-play{
    color: #000;
}

.left-col , .right-col{
    display: flex;
    
    flex-direction: column;
    /* border: 2px solid black; */
    padding: 8px 30px 8px;
    justify-content: space-around;
    width: 25%;
    text-align:center;
}

.left-col .fa-circle-play, .right-col .fa-circle-play{
    font-size: 20px;
    position: relative;
    top: 4px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 90%; */
    cursor: pointer;
}

.center::after{
    background: rgba(143, 66, 236, .15);
    border-radius: 2000px;
    content: "";
    display: block;
    height: 96px;
    position: absolute;
    right: 24%;
    top: 1600px;
    width: 96px;
    z-index: -1;
}

/* .lef::before{
    background: rgba(0, 181, 230, .5);
    border-radius: 2000px;
    content: "";
    display: block;
    height: 96px;
    position: absolute;
    left: -30px;
    top: 15px;
    z-index: 10;
} */

.center video {
    width: 80%;
    height: auto;
    background: linear-gradient(120deg, #e8ebee, #c7ccd3);
    max-width: 100%;
    border-radius: 10px;
    background-color: #000;
    max-width: 100%;
    clip: video;
}

.left-col , .right-col  {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.left-col div span, .right-col div span {
    font-size: 2em;
    margin-right: 10px;
}

.section-3{
    position: relative;
    text-align: center;
    margin-top: 20%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 1105px){
    .section-3{
        flex-direction: column;
        margin-top: 10%;
    }
}

.section-3 .container-1{
    /* border: 2px solid red; */
    width: 100%;
    max-width: 500px;
    text-align: start;
    /* h1{
        font-size: 78px;
        font-weight: 800;
        color: #6797ff;
    }
    
    h2{
        font-size: 30px;
    }

    p{
        font-size: 17px;
        line-height: 26px;
        color: #6d7d90;
    } */
}

.section-3 .container-1 h1 {
    font-size: 5vw; 
    font-weight: 800;
    color: #6797ff;
    margin-bottom: 10px;
}

.section-3 .container-1 h2 {
    font-size: 2vw; 
    margin-bottom: 20px;
}

.section-3 .container-1 p {
    font-size: 1.1vw; 
    line-height: 1.8; 
    color: #6d7d90;
    margin-bottom: 30px;
}

.container-1 button{
    background: linear-gradient(120deg, #67b5ff, #4d86ff);
    background-color: #3177ef;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    color: white; 
    font-weight: 700;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.container-1 button:hover{
    background-color: rgb(155, 168, 229);
    /* top: 24.5%; */
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    /* transition: all 0.4s ease-in-out; */
    cursor: pointer;
}

.section-3 .container-2 .upper-image{
    position: absolute;
    right: 200px;
    top: 280px;
}

.section-3 .container-2 .lower-image {
    max-width: 100%; 
}

@media (max-width: 768px) {
    .section-3 .container-1 h1 {
        font-size: 6vw; 
    }

    .section-3 .container-1 h2 {
        font-size: 3vw; 
    }

    .section-3 .container-1 p {
        font-size: 1.8vw; 
    }

    .container-1 button {
        font-size: 1.5vw; 
    }

    .section-3 .container-2 .upper-image {
        display: none;
    }
}

.section-4{
    margin-top: 10%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* h1{
        font-size: 78px;
        font-weight: 800;
        color: #4a42ec;
    }
    
    h2{
        font-size: 30px;
    }

    p{
        font-size: 17px;
            line-height: 26px;
            color: #6d7d90;
        } */
}
.section-4 .content h1 {
    font-size: 5vw; 
    font-weight: 800;
    color: #4a42ec;
    margin-bottom: 10px; 
}

.section-4 .content h2 {
    font-size: 2vw; 
    margin-bottom: 20px;
}

.section-4 .content p {
    font-size: 1.2vw; 
    line-height: 1.6; 
    color: #6d7d90;
    margin-bottom: 20px;
}

.section-4 .image {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px; 
}

.section-4 .image img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

@media (max-width: 1156px){
    .section-4{
        flex-direction: column;
    }
}

.section-4 .content{
    /* border: 2px solid red; */
    height: 70vh;
    width: 100%;
    max-width: 600px;
    text-align: start;
    padding: 10px;
}

.section-4 .content button{
    background: linear-gradient(120deg, #4d86ff, #4a42ec);
    background-color: #3177ef;
    width: 70%;
    max-width: 300px; 
    border: none;
    padding: 12px 0px;
    border-radius: 25px;
    color: white; 
    font-weight: 700;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.section-4 button:hover{
    background: linear-gradient(120deg, #5284ef, #5b53f2);
    background-color: rgb(75, 101, 231);
    /* top: 24.5%; */
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    /* transition: all 0.4s ease; */
    cursor: pointer;
}

@media (max-width: 768px) {
    .section-4 .content h1 {
        font-size: 6vw; 
    }

    .section-4 .content h2 {
        font-size: 3vw; 
    }

    .section-4 .content p {
        font-size: 1.5vw; 
    }

    .section-4 .content button {
        font-size: 1.8vw; 
    }
}

.section-5 {
    background: radial-gradient(circle at top left, #4a42ec 0, #521d91 100%);
    background-color: #521d91;
    box-shadow: 0 48px 48px -32px rgba(23, 16, 159, .2), 0 96px 96px -64px rgba(23, 16, 159, .4);
    width: 74%;
    height: 60vh;
    margin: auto;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

@media (max-width: 1156px) {
    .section-5 {
        width: 90%;
        height: auto;
    }
}

.section-5 .heading {
    font-size: 28px;
    margin-top: 6%;
    margin-bottom: 2%;
    color: white;
}

.section-5 .contents {
    margin-top: 2%;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;    
    column-gap: 5%;
}

.contents .content {
    width: 100%;
    text-align: start;
    color: white;
}

.contents .content h3 {
    margin-bottom: 4%;
}

.contents .content p {
    font-size: 17px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .section-5 {
        padding: 5% 3%;
    }

    .section-5 .heading {
        font-size: 24px;
    }

    .section-5 .contents {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 5%; 
    }
}



.section-6 {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

@media (max-width: 1156px) {
    .section-6 {
        flex-direction: column;
    }
}

.section-6 .content {
    margin-top: 10%;
    width: 30%;
    height: 70vh;
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: 2%;
}

.section-6 .content h1 {
    font-size: 80px;
    color: #34dd87;
}

.section-6 .content h2 {
    font-size: 33px;
}

.section-6 .content p {
    line-height: 30px;
    font-size: 17px;
    color: #6d7c90;
}

.section-6 .content button {
    margin-top: 2%;
    background-color: #34dd87;
    color: white;
    font-weight: 600;
    border: none;
    width: 68%;
    padding: 15px;
    border-radius: 25px;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.section-6 .content button:hover {
    background: linear-gradient(120deg, #67db9f, #03f779);
    background-color: #87f1ba;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    cursor: pointer;
}

.section-6 .images {
    height: 55vh;
    display: flex;
    /* justify-content: center; */
    position: relative;
}

.section-6 .images .image-1 {
    width: 90%;
    background-color: #fff;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    border-radius: 10px;
}

.section-6 .images .image-2 {
    position: absolute;
    top: 255px;
    right: -70px;
    background-color: #fff;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    border-radius: 10px;
}

.section-6 .images::after {
    background: linear-gradient(145deg, rgba(52, 221, 135, 0) 55%, rgba(52, 221, 135, .5));
    border-radius: 2000px;
    content: "";
    display: block;
    height: 800px;
    position: absolute;
    bottom: -50px;
    right: 180px;
    width: 800px;
    z-index: -1;
}

@media (max-width: 768px) {
    .section-6 .content {
        width: 80%;
        text-align: center;
    }

    .section-6 .content h1 {
        font-size: 60px; 
    }

    .section-6 .content h2 {
        font-size: 28px; 
    }

    .section-6 .content p {
        font-size: 16px; 
    }

    .section-6 .content button {
        width: 100%; 
    }

    .section-6 .images .image-2 {
        /* position: static;
        margin-top: 20px; */
        display: none;
    }

    .section-6 .images{
        flex-direction: column;
    }

    .section-6 .images::after {
        display: none;
    }
}

@media (max-width: 480px) {
    .section-6 .content h1 {
        font-size: 40px;
    }

    .section-6 .content h2 {
        font-size: 24px;
    }

    .section-6 .content p {
        font-size: 14px;
    }
}


.section-7{
    /* border: 2px solid red; */
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 4%;
    align-items: center;
    position: relative;
    padding-left: 14%;
}

.section-7 .content{
    /* border: 2px solid #3177ef; */
    margin-top: 10%;
    width: 32.5%;
    height: 70vh;
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    order: 1;
    h1{
        font-size: 75px;
        color: #00b5e6;
    }

    h2{
        font-size: 33px;
    }

    p{
        line-height: 30px;
        font-size: 17px;
        color: #6d7c90;
    }

    button{
        margin-top: 2%;
        background-color: #00b5e6;
        color: white;
        font-weight: 600;
        border: none;
        width: 30%;
        padding: 15px;
        border-radius: 25px;
        transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
    }
}

.section-7 .content button:hover{
    background: linear-gradient(120deg, #2ac0ea, #16c9fa);
    background-color: #00b5e6;
    /* box-shadow: 0px 5px 5px 3px rgb(230, 228, 228); */
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    /* transition: all 0.4s ease; */
    cursor: pointer;
}

.section-7 .images{
    /* border: 2px solid purple; */
    height: 80vh;
}

.section-7 .images .image-1{
    background-color: #fff;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    border-radius: 10px;
}

.section-7 .images .image-2{
    position: absolute;
    top: 150px;
    right: 750px;
    background-color: #fff;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    border-radius: 10px;
}

.section-7 .images .image-3
{
    width: 150px;
    position: absolute;
    top: 550px;
    left: 260px;
}



.section-7 .images::after{
    background: linear-gradient(145deg, rgba(0, 181, 230, 0) 55%, rgba(0, 181, 230, .2));
    border-radius: 2000px;
    bottom: -10%;
    content: "";
    display: block;
    height: 700px;
    position: absolute;
    bottom: -50px;
    left: 410px;
    width: 700px;
    z-index: -1;
}

@media (max-width: 1080px){
    .section-7{
        display: none;
    }
}

.section-8{
    /* border: 2px solid red; */
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 6%;
    align-items: center;
    position: relative;
}

@media (max-width: 1156px){
    .section-8{
        flex-direction: column;
    }
}

.section-8 .content{
    /* border: 2px solid #3177ef; */
    margin-top: 10%;
    width: 34%;
    height: 70vh;
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    /* order: 1; */
    h1{
        font-size: 75px;
        color: #ff7b2b;
    }

    h2{
        font-size: 33px;
    }

    p{
        line-height: 30px;
        font-size: 17px;
        color: #6d7c90;
    }

    button{
        margin-top: 2%;
        background-color: #ff7b2b;
        color: white;
        font-weight: 600;
        border: none;
        width: 30%;
        padding: 15px;
        border-radius: 25px;
        transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
    }
}

.section-8 .content button:hover{
    background: linear-gradient(120deg, #e0905e, #f36106);
    background-color: #ff7b2b;
    /* box-shadow: 0px 5px 5px 3px rgb(230, 228, 228); */
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    /* transition: all 0.4s ease; */
    cursor: pointer;
}

.section-8 .images{
    /* border: 2px solid purple; */
    margin-top: 12%;
    height: 80vh;
}

.section-8 .images .image-1{
    background-color: #fff;
    width: 50%;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    border-radius: 10px;
}

.section-8 .images .image-2{
    position: absolute;
    width: 25%;
    top: 210px;
    right: 120px;
    background-color: #fff;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    border-radius: 10px;
}

.section-8 .images .image-3
{
    width: 2%;
    position: absolute;
    right: 7%;
}

@media (max-width:1080px)
{
    .section-8{
        display: none;
    }
}

.section-9{
    background: radial-gradient(circle at top left, #34dd87 0, #34ddbf 100%);
    background-color: #34dd87;
    box-shadow: 0 48px 48px -32px rgba(52, 221, 135, .12), 0 96px 96px -64px rgba(52, 221, 135, .48);
    width: 76%;
    height: auto;
    margin: auto;
    position: relative;
    border-radius: 10px;
    padding: 2%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.section-9 .container{
    width: 43%;
    height: 100%;
    padding: 5% 4%;
    color: white;
    /* h1{
        font-size: 75px;
    }
    h2{
        font-size: 32px;
        margin: 5% 0;
    }
    p{
        font-size: large;
        line-height: 30px;
    } */
}

.section-9 .container h1 {
    font-size: 75px;
}

.section-9 .container h2 {
    font-size: 32px;
    margin: 5% 0;
}

.section-9 .container p {
    font-size: large;
    line-height: 30px;
}

.section-9 .overlay-data{
    background-color: white;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    width: 45%;
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    margin-top: 5%;
    position: absolute;
    top: 25%;
    right: 3%;
    /* h1{
        font-size: 75px;
        font-weight: 800;
        color: #004cff;
    }
    h2{
        font-size: 32px;
        margin: 5% 0;
    }
    p{
        font-size: large;
        line-height: 30px;
        color:#6d7d90;
    } */
}

.section-9 .overlay-data h1 {
    font-size: 75px;
    font-weight: 800;
    color: #004cff;
}

.section-9 .overlay-data h2 {
    font-size: 32px;
    margin: 5% 0;
}

.section-9 .overlay-data p {
    font-size: large;
    line-height: 30px;
    color: #6d7d90;
}

.section-9 svg{
    bottom: -35%;
    margin-left: -10%;
    position: absolute;
    width: 65%;
    z-index: -1;
}

.section-9 .overlay-data button{
    margin-top: 8%;
    background: linear-gradient(120deg, rgba(38, 46, 235, 0), #151de3);
    background-color: #346aec;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    width: 35%;
    padding: 15px 0px; 
    border-radius: 25px;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.section-9 .overlay-data button:hover{
    background: linear-gradient(120deg, #5b5fd5, #151de3);
    background-color: #151de3;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    /* transition: all 0.4s ease; */
    cursor: pointer;
}

@media (max-width: 1156px) {
    .section-9 {
        width: 90%;
    }
    
    .section-9 .container h1 {
        font-size: 48px;
    }
    
    .section-9 .container h2 {
        font-size: 28px;
    }
    
    .section-9 .overlay-data h1 {
        font-size: 48px;
    }
    
    .section-9 .overlay-data h2 {
        font-size: 28px;
    }
}

/* Small Screens */
@media (max-width: 768px) {
    .section-9 {
        width: 100%;
        padding: 5%;
    }

    .section-9 .container {
        padding: 10% 4%;
    }

    .section-9 .container h1 {
        font-size: 36px;
    }

    .section-9 .container h2 {
        font-size: 24px;
    }

    .section-9 .container p {
        font-size: 16px;
    }

    .section-9 .overlay-data {
        width: 100%;
        margin-top: 10%;
    }

    .section-9 .overlay-data h1 {
        font-size: 36px;
    }

    .section-9 .overlay-data h2 {
        font-size: 24px;
    }

    .section-9 .overlay-data p {
        font-size: 16px;
    }

    .section-9 svg {
        bottom: -15%;
        margin-left: -5%;
        width: 80%;
    }
}

/* Extra Small Screens */
@media (max-width: 480px) {
    .section-9 .container h1 {
        font-size: 24px;
    }

    .section-9 .container h2 {
        font-size: 18px;
    }

    .section-9 .container p {
        font-size: 14px;
    }

    .section-9 .overlay-data h1 {
        font-size: 24px;
    }

    .section-9 .overlay-data h2 {
        font-size: 18px;
    }

    .section-9 .overlay-data p {
        font-size: 14px;
    }

    .section-9 .overlay-data button {
        width: 50%;
    }
}

.section-10{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20% auto 0 auto;
    padding: 2%;

}

.section-10 .image-1{
    margin-top: 10%;
    width: 800px;
    height: 600px;  
    position: relative;
    right: 22%;
}

.section-10 .images{
    width: 50%;
    display: flex;
    justify-content: center;
}

.section-10 .content{
    text-align: start;
    width: 36%;
    max-width: 800px;
    padding: 2%;
    /* h1{
        font-size: 75px;
        font-weight: 800;
        color: #0489ee;
    }
    h2{
        font-size: 32px;
        margin: 5% 0;
    }
    p{
        font-size: large;
        line-height: 30px;
        color:#6d7d90;
    }
    button{
        margin-top: 4%;
        background: linear-gradient(120deg, rgba(38, 46, 235, 0), #4488e6);
        background-color: #4b84ff;
        color: white;
        font-size: 12px;
        font-weight: 600;
        border: none;
        width: 54%;
        padding: 15px 0px; 
        border-radius: 25px;
        transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
    } */
}

.section-10 .content h1 {
    font-size: 75px;
    font-weight: 800;
    color: #0489ee;
}

.section-10 .content h2 {
    font-size: 32px;
    margin: 5% 0;
}

.section-10 .content p {
    font-size: large;
    line-height: 30px;
    color: #6d7d90;
}

.section-10 .content button {
    margin-top: 4%;
    background: linear-gradient(120deg, rgba(38, 46, 235, 0), #4488e6);
    background-color: #4b84ff;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border: none;
    width: 100%;
    max-width: 300px;
    padding: 15px 0;
    border-radius: 25px;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.section-10 .content button:hover{
    background: linear-gradient(120deg, #4488e6, #4b84ff);
    background-color: #4b84ff;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    /* transition: all 0.4s ease; */
    cursor: pointer;
}

@media (max-width: 1156px) {
    .section-10{
        flex-direction: column;
    }
    .section-10 .content h1 {
        font-size: 42px;
    }
    
    .section-10 .content h2 {
        font-size: 24px;
    }
}

/* Small Screens */
@media (max-width: 768px) {
    .section-10 .content h1 {
        font-size: 36px;
    }

    .section-10 .content h2 {
        font-size: 20px;
    }

    .section-10 .content p {
        font-size: 14px;
    }

    .section-10 .image-1{
        display: none;
    }
}

/* Extra Small Screens */
@media (max-width: 480px) {
    .section-10 .content h1 {
        font-size: 24px;
    }

    .section-10 .content h2 {
        font-size: 18px;
    }

    .section-10 .content p {
        font-size: 14px;
    }

    .section-10 .content button {
        font-size: 14px;
        padding: 10px 0;
    }
}



@media (max-width: 800px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .left-col, .right-col, .center {
        width: 100%;
        margin-bottom: 20px;
    }

    .left-col div, .right-col div {
        justify-content: center;
    }
    .row{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.section-11 {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 4%;
    align-items: center;
    position: relative;
    flex-wrap: wrap; /* Ensures content wraps on smaller screens */
    padding: 20px;
}

.section-11 .content {
    margin-top: 10%;
    width: 100%;
    max-width: 36%;
    height: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: 2%;
}

.section-11 .content h1 {
    font-size: 5.5em;
    font-weight: 800;
    color: #8f42ec;
}

.section-11 .content h2 {
    font-size: 2em;
    margin: 3% 0;
}

.section-11 .content p {
    line-height: 1.8;
    font-size: 1em;
    color: #6d7c90;
}

.section-11 .content button {
    margin: 7% 0;
    background-color: #8f42ec;
    color: white;
    font-weight: 600;
    font-size: 0.8em;
    border: none;
    padding: 15px 22px;
    border-radius: 30px;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.section-11 .content .buttons {
    display: flex;
    justify-content: start;
    column-gap: 4%;
    width: 100%;
}

.section-11 .content button:hover {
    background: linear-gradient(120deg, #8f428f, #8f42ec);
    background-color: #8f42ec;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    cursor: pointer;
}

.section-11 .images {
    height: auto;
    width: 100%;
    max-width: 36%;
    text-align: center;
}

.section-11 .images img {
    width: 100%;
    height: auto;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    border-radius: 10px;
}

@media (max-width: 1156px) {
    .section-11 {
        flex-direction: column;
        align-items: center;
    }

    .section-11 .content, .section-11 .images {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .section-11 .content h1 {
        font-size: 2em;
    }

    .section-11 .content h2 {
        font-size: 1.2em;
    }

    .section-11 .content p {
        font-size: 0.9em;
    }

    .section-11 .content button {
        font-size: 0.7em;
        padding: 12px 18px;
    }

    .section-11 .content, .section-11 .images {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .section-11 {
        margin-top: 5%;
        padding: 10px;
    }

    .section-11 .content {
        margin-top: 5%;
    }

    .section-11 .content h1 {
        font-size: 1.5em;
    }

    .section-11 .content h2 {
        font-size: 1em;
    }

    .section-11 .content p {
        font-size: 0.8em;
    }

    .section-11 .content button {
        font-size: 0.6em;
        padding: 10px 15px;
    }
}


.section-12 {
    margin-top: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap; /* Ensures content wraps on smaller screens */
    padding: 20px;
}

.section-12 .content {
    margin-top: 10%;
    margin-right: 5%;
    width: 100%;
    max-width: 33%;
    height: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: 2%;
    order: 1;
}

.section-12 .content h1 {
    font-size: 5.3em;
    font-weight: 800;
    color: #ff4a9e;
}

.section-12 .content h2 {
    font-size: 2em;
    margin: 3% 0;
}

.section-12 .content p {
    line-height: 1.8;
    font-size: 1em;
    color: #6d7c90;
}

.section-12 .content button {
    margin-top: 6%;
    background-color: #ff4a9e;
    color: white;
    font-weight: 600;
    font-size: 0.8em;
    border: none;
    padding: 15px 22px;
    border-radius: 30px;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.section-12 .content .buttons {
    display: flex;
    justify-content: start;
    column-gap: 4%;
    width: 100%;
}

.section-12 .content button:hover {
    background: linear-gradient(120deg, #ec79ae, #f0137a);
    background-color: #ff4a9e;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    cursor: pointer;
}

.section-12 .images {
    width: fit-content;
    max-width: 60%;
    position: relative;
}

.section-12 .images .image-1 {
    margin-left: 20%;
    width: 60%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    border-radius: 10px;
    margin-top: 5%;
}

.section-12 .images .image-2 {
    position: absolute;
    left: 40%;
    bottom: -10%;
    width: 50%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
    border-radius: 10px;
}

@media (max-width: 1156px) {
    .section-12 {
        flex-direction: column;
        align-items: center;
    }

    .section-12 .content, .section-12 .images {
        max-width: 80%;
    }

    .section-12 .images .image-2 {
        position: static;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .section-12 .content h1 {
        font-size: 2em;
    }

    .section-12 .content h2 {
        font-size: 1.2em;
    }

    .section-12 .content p {
        font-size: 0.9em;
    }

    .section-12 .content button {
        font-size: 0.7em;
        padding: 12px 18px;
    }

    .section-12 .content, .section-12 .images {
        max-width: 90%;
    }

    .section-12 .images .image-2 {
        position: static;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .section-12 {
        margin-top: 5%;
        padding: 10px;
    }

    .section-12 .content {
        margin-top: 5%;
    }

    .section-12 .content h1 {
        font-size: 1.5em;
    }

    .section-12 .content h2 {
        font-size: 1em;
    }

    .section-12 .content p {
        font-size: 0.8em;
    }

    .section-12 .content button {
        font-size: 0.6em;
        padding: 10px 15px;
    }

    .section-12 .images .image-2 {
        position: static;
        margin-top: 10px;
    }
}


.section-13{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 30px;
        text-align: center;
    }
}

.section-13 .cards{
    margin-top: 3%;
    /* border: 2px solid red; */
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.section-13 .cards .card{
    width: 400px;
    height: 510px;
    text-align: center;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
    h2{
        font-size: 18px;
        margin: 5% 0px;
    }

    p{
        font-size: 17px;
        line-height: 30px;
        color: #6d7d90;
    }
}

.section-13 p span{
    color: #0026ff;
    font-weight: 600;
}

@media (max-width:1120px){
    .section-13 .cards{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .additional-content h1, .additional-content h3 {
        font-size: 1.2em;
    }

    .additional-content p {
        font-size: 1em;
    }
    .center{
        width: 100%;
    }
    .left-col , .right-col{
        display: flex;
    }
}

/* Footer */

footer{
    margin-top: 4%;
    width: 100%;
    height: 100%;
    font-family: Lato, sans-serif;
    position: relative;
    /* border: 5px solid purple; */
    overflow-x: hidden;
}

.foot-1{
    width: 72.5%;
    height: 60vh;
    /* margin: auto; */
    background: radial-gradient(circle at top left, #4a42ec 0, #521d91 100%);
    background-color: #521d91;
    box-shadow: 0 48px 48px -32px rgba(23, 16, 159, .2), 0 96px 96px -64px rgba(3, 2, 20, .6);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    color: white;
    position: absolute;
    left: 30vh;
    top: 25vh;
    border-radius:10px;
}

.footer-1 .circle-1{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(250, 197, 7);
    position: relative;
    bottom: 78vh;
    left: 65vw;
    z-index: -5;
}

.footer-1 .circle-2{
    width: 450px;
    height: 450px;
    background-color: #34DD65;
    border-radius: 50%;
    position: relative;
    z-index: -5;
    bottom: 62vh;
    left: 63.5vw;
    opacity: 0.7;
}

.footer-1 .background-1{
    width: 40%; 
    position: relative;
    top: 15px;
    right: -5vw;
    transform: rotateZ(8deg);
    z-index: -5;
    opacity: 0.3;
}   

.inner-box{
    /* border: 2px solid red; */
    text-align: center;
    margin: auto;
    margin-top: 7.5%;
    font-size: 24px;
    width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-box button{
    margin-top: 2%;
    padding: 18px 35px;
    border: none;
    background: linear-gradient(120deg, rgba(52, 221, 135, 1), #24d47a) !important;
    background-color: #34DD65;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.box p{
    font-size: 18px;
    text-align: center;
    margin-top: 3.5%;
    span{
        font-weight: 600;
    }
}

.footer-1{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* border: 5px solid purple; */
    transition: all 0.7s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.purple-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    /* border: 2px solid red; */
    background-color: #5b19e9;
    opacity: 0;
}

.footer-1:hover{
    transform: scale(1.3);
    /* transition: all 0.8s ease; */
}

.footer-1:hover .purple-overlay{
    opacity: 0.7;
    transition: opacity 0.8s ease;
}

.footer-1 button:hover{
    background-color: #4837ff;
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    /* transition: all 0.4s ease-in-out; */
}

.footer-2{
    width: 100%;
    height: 100vh;
    margin-top: 8rem;
    /* border: 2px solid #24d47a; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-2 .cards{
    width: 80vw;
    /* background-color: #34DD65; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
}

footer .cards .card{
    /* background-color: #4837ff; */
    width: 160px;
    height: 120px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10%;
    box-shadow: 0 2px 8px 0 rgba(103, 151, 255, .16), 0 4px 32px 0 rgba(103, 151, 255, .16);
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.cards .card:hover{
    box-shadow: 0 2px 8px 0 rgba(103, 151, 255, .2), 0 4px 32px 0 rgba(103, 151, 255, .2);
    cursor: pointer;
    transform: scale(1.01);
    /* transition: all 0.8s ease; */
}

footer .content{
    margin-top: 3%;
    width: 85vw;
    height: 25rem;
    /* background-color: #34DD65; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 62px;
    /* overflow: hidden; */
}

.content .rows{
    /* border: 2px solid rebeccapurple; */
    width: 140px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    /* align-items: start; */
    row-gap: 4%;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
    p{
        color: #6d7d90;
        font-size: 14px;
    }
    h5{
        color: #46484a;
        letter-spacing: 2px;
    }
}

.content .rows p:hover{
    color: #554ad1;
    cursor: pointer;
}   

.footer-images{
    /* border: 2px solid red; */
    width: 32rem;
    height: 22rem;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin-top: 30px;
    height: 50px;
    color: #6d7d90;
    font-size: 17px;
}

@media (max-width: 1348px)
{
    .footer-images, .copyright{
        display: none;
    }
}