@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* column-gap: 12%; */
    top: 0;
    background-color: #FFFFFF;
    padding-top: 2px;
    position: fixed;
    z-index: 20;
    box-shadow: 0px 0px 50px 0px #726185;
}

.header-image img{
    width: 80px;
    margin-left: 4.5rem;
}

.nav-items{
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 6rem;
    list-style-type: none;
    font-size: 13.2px;
    font-weight: 700;
    letter-spacing: 2.2px;
    font-family: Lato, sans-serif;
    color: #20292F99;
}

.nav-items li{
    padding: 20px 30px;
    cursor: pointer;
} 

.nav-items li a{
    text-decoration: none;
    color: #20292F99;
}

.menu{
    position: absolute;
    right: 3rem;
    top: 1.2rem;
    opacity: 0;
    visibility: hidden;
}

.last-list-item{

    font-size: 15px;
    font-weight: 800;
    color: aliceblue;
    background: linear-gradient(120deg, rgba(255, 74, 158, 0), #ff3190);
    background-color: #ff4ac2;
    border-radius: 50px;
    letter-spacing: 1px;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.last-list-item:hover{
    transform: translateY(-2px);
    background: linear-gradient(150deg, rgba(255, 74, 158, 0), #ff3190);
    background-color: #ff4ac2;
    box-shadow: 0px 4px 10px #ab7e93;
    transition: all 0.3s;
}

.hover-content-1{
    width: 133vh;
    position: absolute;
    top: 60px;
    left: 28vw;
    background-color: white;
    display: flex;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.hover-content-1 .fa-play{
    font-size: 28px;
    position: absolute;
    transform: rotate(270deg);
    left: 195px;
    top: -23px;
    color: white;
}

.nav-1:hover .hover-content-1{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.6s ease; 
}

.nav-1:hover a{
    color: black;
    box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
    background-color: rgb(248, 244, 244);
}

.hover-content-1 .left-side-content{
    width: 18vw;
    height: 100%;
    background-color: rgba(103, 73, 73, 0.03);
    padding-left: 2%;
    padding-top: 1.5%;
    color: #30363a99;
    display: inline-block;
}

.left-side-content .heading-1{
    letter-spacing: 0.5px;
    padding: 14px 0px;
    border-bottom: 2px solid #b1bdc499;
}

.left-side-content .features{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5%;
    font-size: 14px;
    margin-top: 8%;
    i{
        margin-right: 8%;
    }
    p{
        padding: 13px 0;
    }
}

.right-side-content
{
    width: 71.7%;
    padding-top: 1.5%;
    padding-left: 2%;
}

.right-side-content .heading-2{
    padding: 14px 0px;
    border-bottom: 2px solid #b1bdc499;
}

.right-side-content .products-and-services{
    font-size: 17px;
    font-weight: 600;
    padding-top: 2%;
    padding-left: 3%;
    display: flex;
    column-gap: 10%;
    p{
        padding: 15px 0px;
    }
}

.products-and-services span{
    font-size: 13px;
    padding-left: 18px;
    position: relative;
    bottom: 8px;
    left: 18px;
    color: #6d7c90;
}

.products-and-services .first-icons
{
    position: relative;
    right: 20px;
    color: white;
    font-size: 16px;
    padding: 12px;
    border-radius: 50%;
    text-align: center;
}

.right-side-content .button{
    border: none;
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 15px 220px;
    background-color: rgb(5, 120, 239);
    position: relative;
    top: 10%;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.right-side-content .button:hover{
    background-color: rgb(5, 130, 239);
    box-shadow: 0px 4px 10px #c0c2e4;
    transform: translateY(-4px);
    /* transition: all 0.4s ease-in-out; */
}

.fa-solid, .fa-brands{
    color: rgb(203, 203, 228);
    font-size: medium;
}

.left-side-content .fa-arrow-right{
    margin-left: 2%;
    font-size: 0px;
    opacity: 0;
}

.features p:hover .fa-solid, .features p:hover .fa-brands{
    color: rgb(100, 42, 235);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.features p:hover .fa-arrow-right{
    font-size: 16.5px;
    opacity: 1;
}

.right-side-content p:hover span{
    color: #000;
    transition: all 0.5s ease;
}

.right-side-content p:hover .first-icons{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.right-side-content .fa-arrow-right, .portions .fa-arrow-right{
    margin-left: 2%;
    font-size: 0px;
}

.products-and-services p:hover .fa-arrow-right, .hover-content-3 .portions:hover .fa-arrow-right{
    font-size: 20px;
    color: black;
    transition: all 0.3s ease;
}

.hover-content-2{
    position: absolute;
    width: 63vw;
    /* height: 54vh; */
    background-color: white;
    top: 60px;
    right: 8vw;
    padding: 0 25px;
    display: flex;
    align-items: center;
    column-gap: 1.8%;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.hover-content-2 .fa-play{
    font-size: 28px;
    color: white;
    transform: rotateZ(270deg);
    position: absolute;
    left: 285px;
    top: -23px;
}

.hover-content-2 .portion{
    display: flex;
    flex-direction: column;
    padding: 3% 2%;
    margin: 20px 5px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    transform: scale(1.05);
    transition: all 0.15s cubic-bezier(0, 0, 0.63, 0.99);
    h3{
        margin: 15px 0px;
    }
}

.hover-content-2 .portion:hover{
    transform: scale(1.02);
}

.hover-content-2 .portion-1{
    background: linear-gradient(120deg, rgba(143, 66, 236, .04), rgba(143, 66, 236, .1));
    h3{
        color: #8f42ec;
        font-size: 1.1rem;
    }
    
    p{
        font-size: 16px;
        font-weight: 510;
        letter-spacing: .8px;
        line-height: 25px;
        color: #785da3;
    }
}

.hover-content-2 .portion-2{
    background: linear-gradient(120deg, rgba(55, 118, 255, .04), rgba(55, 118, 255, .1));
    h3{
        color: #3776ff;
        font-size: 17px;
    }
    
    p{
        font-size: 16px;
        font-weight: 510;
        letter-spacing: .8px;
        line-height: 25px;
        color: #384f7f;
    }
}

.hover-content-2 .portion-3{
    background: linear-gradient(120deg, rgba(52, 221, 135, .04), rgba(52, 221, 135, .1));
    h3{
        color:  #34dd87;
        font-size: 17px;
    }
    
    p{
        font-size: 16px;
        font-weight: 510;
        letter-spacing: .8px;
        line-height: 25px;
        color:  #3c7457;
    }
}

.hover-content-2 .portion-4{
    background: linear-gradient(120deg, rgba(255, 123, 43, .04), rgba(255, 123, 43, .1));
    h3{
        color: #ff7b2b;
        font-size: 17px;
    }
    
    p{
        font-size: 16px;
        font-weight: 510;
        letter-spacing: .8px;
        line-height: 25px;
        color: #936a51;
    }
}

.nav-2:hover .hover-content-2{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.4s ease; 
}

.nav-2:hover a{
    color: black;
    box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
    background-color: rgb(248, 244, 244);
}

.hover-content-3{
    width: 30vw;
    height: 64vh;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.hover-content-3 .fa-play{
    font-size: 28px;
    position: absolute;
    transform: rotateZ(270deg);
    top: -23px;
    color: white;
}

.nav-3:hover .hover-content-3{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.6s ease; 
}

.nav-3:hover a{
    color: black;
    box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
    background-color: rgb(248, 244, 244);
}

.hover-content-3 .content{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hover-content-3 .content {
    h3{
        font-size: 17px;
    }
    p{
        font-size: 13.8px;
        letter-spacing: 1px;
        margin-top: 2%;
    }
}

.hover-content-3  .content .portion-1{
    h3{
    color: #8f42ec;
    }
}

.hover-content-3  .content .portion-2{
    h3{
    color:#ff4ac2 ;
    }
}

.hover-content-3  .content .portion-3{
    h3{
    color:#34dd87;
    }
}

.hover-content-3  .content .portion-4{
    h3{
    color:#3776ff;
    }
}

.hover-content-3  .content .portion-5{
    h3{
    color: #ff7b2b;
    }
}

.hover-content-3 button{
    padding: 3% 35%;
    background-color: #8f42ec;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.hover-content-3 button:hover{
    background-color: #9a55ee;
    top: 24.5%;
    box-shadow: 0px 4px 10px #c0c2e4;
    transform: translateY(-4px);
    /* transition: all 0.4s ease-in-out; */
}

.hover-content-3 .portions:hover p{
    color: black;
}

.hover-content-4{
    width: 23vw;
    height: 45vh;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 19.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
}

.hover-content-4 .fa-play{
    font-size: 28px;
    position: absolute;
    transform: rotateZ(270deg);
    top: -23px;
    color: white;
}

.nav-4:hover .hover-content-4{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.nav-4:hover a{
    color: black;
    box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
    background-color: rgb(248, 244, 244);
}

.hover-content-4 .portions{
    /* border: 2px solid red; */
    width:100%;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background:  */
    color: #598af3;
    i{
        margin-right: 7%;
        font-size: 18px;
        color: #3776ff;
    }

    h3{
        margin-left: 7%;
    }
}

.hover-content-4 button{
    padding: 4% 25%;
    border: none;
    background-color: #3776ff;
    color: white;
    font-size: 13px;
    font-weight: 600;;
    border-radius: 20px;
    /* margin-top: 5%; */
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.hover-content-4 button:hover{
    background-color: #4e83f8;
    top: 24.5%;
    cursor: pointer;
    box-shadow: 0px 4px 10px #c0c2e4;
    transform: translateY(-4px);
    /* transition: all 0.4s ease-in-out; */
}

.hover-content-4 .portions .fa-arrow-right{
    color: black;
    transform: scale(0);
}

.hover-content-4 .portion:hover .fa-arrow-right{
    font-size: 18px;
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.hover-content-4 .portion:hover i{
    transform: scale(1.2);
    transition: all 0.2s ease;
}

.hover-content-5{
    width: 20vw;
    height: 45vh;
    position: absolute;
    top: 60px;
    right: 12.5vw;
    background-color: white;
    /* padding-left: 3%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}

.hover-content-5 .fa-play{
    font-size: 28px;
    position: absolute;
    transform: rotateZ(270deg);
    top: -23px;
    color: white;
}

.nav-5:hover .hover-content-5{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.nav-5:hover a{
    color: black;
    box-shadow: 0px 15px 70px 5px rgb(193, 189, 189);
    background-color: rgb(248, 244, 244);
}

.hover-content-5 form{
    width: 90%;
    height: 70%;
    margin-top: 12%;
    /* border: 2px solid red; */    
    input{
        width: 100%;
        height: 23%;
        margin-bottom: 10%;
        background-color: whitesmoke;
        border: none;
        padding-left: 4%;
        font-size: 15px;
        font-weight: 500;
        color: red;
        border-radius: 8px;
        /* outline: #3776ff; */
    }

    label{
        position: relative;
        bottom: 44px;
        left: 5px;
        font-size: 14px;
        color: rgb(132, 130, 130);
        letter-spacing: 0px;
    }

    input::placeholder{
        color: rgb(131, 129, 129);
    }
}

.outline:focus{
    outline: #598af3;
}

.outline:hover{
    outline: 2.5px solid #598af3;
    transition: all 0.1s;
}

.hover-content-5 button{
    padding: 5% 25%;
    background-color: #4715ef;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    position: relative;
    bottom: 8%;
    transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);
}

.hover-content-5 button:hover{
    background-color: #4837ff;
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0px 4px 10px #c0c2e4;
    /* transition: all 0.4s ease-in-out; */
}

.hover-content-5 p{
    text-align: center;
    letter-spacing: 0px;
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 600;

    span{
        color: #4715ef;
    }
}


@media (max-width:1096px){
    .nav-items{
        opacity: 0;
        visibility: hidden;
    }

    .menu{
        opacity: 1;
        visibility: visible;
    }
}